@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
h1 {
    font-family: 'Press Start 2P', cursive;
    color: #39F63B;
    text-align: center;
    margin-top: 4rem;
    animation-duration: .8s;
    animation-name: clignoter;
    animation-iteration-count: infinite;
    transition: none;
  
}



h2{
  color: #39F63B;
  font-family: 'Share Tech Mono', cursive;
  margin: 2rem 1rem;
	width: 23ch;
  overflow: hidden;
	white-space: nowrap;
	animation: caret .5s step-end infinite alternate,
             type 5s steps(23, end);
}

@keyframes type {
  0% {
    width: 0;
  }


}




body {
    background-color:#1D1D1D;
  }

form {
  position :absolute;
  left : 255px;
  top : 135px;
}

input[type=text]{
  background-color: #1D1D1D;
  color : #39F63B;
  font-family: 'Share Tech Mono';
  border: groove 1px white;
  animation-name: appear;
  animation-duration: 14s ;
}

@keyframes appear {
  0%{
    border-style: hidden;
  }
  99%{
    border: groove 1px white;
  }
}




@keyframes clignoter {
 0%   { opacity:1; }
 40%   {opacity:0; }
 100% { opacity:1; }
}